services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=gastor
      - POSTGRES_PASSWORD=gastor_password
      - POSTGRES_DB=gastor_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://gastor:gastor_password@db:5432/gastor_db
    depends_on:
      - db
    volumes:
      - ./backend:/app

volumes:
  postgres_data:
